:root {
    --bg-clr1: #FCE9CF;
    --btn-clr: #3d170a;
    /* --text-clr: #2c0c02; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: var(--bg-clr1);
    font-family: "Merienda";
    overflow-x: hidden;
    margin: 0;
}
a, li {
    text-decoration: none;
    list-style: none;
    color: black;
}
button {
    border: 1px solid lightgray;
    padding: 1rem;
    cursor: pointer;
    font-size: 15px;
}

.btn {
    border: 2px solid var(--btn-clr);
    background: transparent;
    transition: 0.3s;
    width: fit-content;
    color: var(--btn-clr);
}
.btn:hover {
    background: var(--btn-clr);
    color: var(--bg-clr1);
}


.left-info h1 {
    font-size: 40px;
}
.left-info h2 {
    font-size: 25px;
}
.left-info h3 {
    font-size: 20px;
}

