:root {
    --nav-clr: #581802;
    --bg-clr1: #E4C0A0;
    --text-clr: #2c0c02;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-clr1);
    font-family: "Helvetica";
    color: var(--text-clr);
    overflow-x: hidden;
}
a, li {
    text-decoration: none;
    list-style: none;
    color: white;
}
button {
    border: 1px solid lightgray;
    padding: 1rem;
    cursor: pointer;
    font-size: 15px;
}


.btn {
    border: 2px solid white;
    background: transparent;
    transition: 0.3s;
    width: fit-content;
    color: white;
}
.btn:hover {
    background: var(--nav-clr);
    /* border: none; */
}

/* Header */
header {
    background-color: var(--nav-clr);
    color: white;
}
header ul li a {
    color: white;
}


/* Hero */
main h1 {
    font-size: 40px;
}

.img-container {
    height: 700px;
    width: fit-content;
}
.img-container img {
    height: 100%;
}